*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

body{
    background-color: hsl(0, 0%, 98%);
    font-family: "Poppins", sans-serif;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    padding: 75px 15px;
    font-size: 15px;
}

.main{
    max-width: 1400px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.header{
    text-align: center;
    margin-top: 2%;
    margin-bottom: 75px;
}
.header p{
    color:hsl(229, 6%, 66%);
    text-align: center;
    width: 30rem;;
  
}
h1 span:nth-child(1), .card-title, .title{
    color: hsl(234, 12%, 34%);
}
h1 span:nth-child(1){
    font-weight: 200;
    font-style: normal;
    font-size: 1.6rem;;
}

.title{
    font-weight: 600;
    font-style: normal;
    text-align: center;
    font-size: 1.6rem;;
}

/* ITEMS */
.item-container{
    width: 350px;
}
.card{
    margin-bottom: 5%;
    box-shadow: 0px 7px 16px hsl(234, 12%, 34%);
    padding: 10px;;
}
.item-image{
    width: 60px;
    height: 60px;
    float: right;
    clear: both;
    margin-top: 15%;
}
.card-text{
    color:hsl(229, 6%, 66%);
    text-align: left;
}
.card-supervisor{
    border-top: 7px solid hsl(180, 62%, 55%);
}
.card-team{
    border-top: 7px solid hsl(0, 78%, 62%);
}
.card-karma{
    border-top: 7px solid hsl(34, 97%, 64%);
}
.card-calculator{
    border-top: 7px solid hsl(212, 86%, 64%);
}
/* FOOTER */
.attribution { 
    font-size: 11px; 
    text-align: center; 
    visibility: hidden;
}
.attribution a { 
    color: hsl(228, 45%, 44%); 
}
/* Large Screen */
@media(min-width:1024px){
    /* HEADER */
    .header{
        max-width: 550px;
        margin-top: -3%
    }

    .headline span:nth-child(1), .title{
        font-size: 2.5rem;
    }

    /* ITEMS */
    .item-container{
        display: flex;
        justify-content: center;
        flex: wrap;
        align-items: stretch;
        width: 100%;
        gap: 25px;
        margin-bottom: 20%;
    }
    .card{
        width: 350px;
    }

    .card-karma{
        position: absolute;
        transform: translateY(100%);
        margin-top: 4%;
        margin-bottom: 4%;
    }

    .card-supervisor, .card-calculator{
        transform: translateY(50%);
    }

    .card-team{
        margin-right: 2%;
        margin-left: 2%;
    }
}
/* MEDIUM SCREEN */
@media(min-width:843px) and (max-width:1023px) {
    /* HEADER */
    .header{
        max-width: 550px;
        margin-top: -3%
    }

    .headline span:nth-child(1), .title{
        font-size: 2rem;
    }
    .header p {
        width: 30rem;
    }
    .item-container{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        align-items: stretch;
        width: 100%;
    }
    .card{
        width: 350px;
        margin: 3%;
    }


    
}